*{
    margin:0;
    padding:0;
}

h1{
    color:rgb(81, 4, 153);
}
body
{
    background-color:#DBD8F0;
    text-align: center;
}

.box
{
    height:70vh;
    display: flex;
    
    justify-content: center;
    align-items: center;
    gap:1.5vmin;

}

.cont
{
   height: 60vmin;
   width:60vmin;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap:1.5vmin;
}

.block
{
    height:18vmin;
    width:18vmin;
    border-radius: 1rem;
    border:none;
    box-shadow: 0 0  1rem rgba(0,0,0,0.3);
    font-size: 8vmin;
   /* color:#dd4192;*/
   color: rgb(81, 4, 153);;

    background-color:#eaf390;
}

#reset{
    border: none;
    padding:1rem;
    background-color: blueviolet;
    color: #DBD8F0;
    font-size: 1.25rem;
    border-radius: 1rem;
}

#newbtn{
    margin:10px;
    border: none;
    padding:1rem;
    background-color: blueviolet;
    color: #DBD8F0;
    font-size: 1.25rem;
    border-radius: 1rem;
}

#message{
    color: rgb(231, 102, 102);
    text-align: center;
    font-size: 42px;

}

.msg{
    height:30vmin;
}

.hide
{
    display: none;
}

#newbtn,#reset:hover{
    cursor: pointer;
}
